<div class="container">
  <div class="title">Aquest any ens recomaneu...</div>
  <div class="tapis">
    <div class="columns">
      <app-card
        [card]="cards[0]"
        class="column"
        (openedModal)="openModal(cards[0])"
      ></app-card>
      <app-card
        [card]="cards[1]"
        class="column"
        (openedModal)="openModal(cards[1])"
      ></app-card>
      <app-card
        [card]="cards[2]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[3]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
    </div>
    <div class="columns">
      <app-card
        [card]="cards[4]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[5]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[6]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[7]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
    </div>
    <div class="columns">
      <app-card
        [card]="cards[8]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[9]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[10]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
      <app-card
        [card]="cards[11]"
        class="column"
        (openedModal)="openModal(card)"
      ></app-card>
    </div>
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': openedModal }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Support the project</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/UqgUPl7MNGg"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </section>
  </div>
</div>
