.titol {
  & .text_titol {
    color: #ffffff;
    background-color: rgb(104, 156, 73);
    opacity: 0.9;
    font-size: 2em;
    border-radius: 4px;
    align-self: center;
  }
  margin: 20px 48px;
}
.tapis {
  margin: 20px 48px;
}

.titol img {
  height: 96px;
  width: 96px;
  min-height: 96px;
  min-width: 96px;
}

.thumbnail {
  max-width: 92px;
  max-height: 54px;
  border: 2px solid white;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    border-color: rgb(1, 94, 155);
  }
}

iframe {
  border: 2px solid white;
  margin-bottom: 24px;
  border-radius: 3px;
}
