<div class="container">
  <div class="title">Aquest any ens recomaneu...</div>
  <div class="tapis">
    <div class="columns">
      <app-card [card]="cards[0]" class="column"></app-card>
      <app-card [card]="cards[1]" class="column"></app-card>
      <app-card [card]="cards[2]" class="column"></app-card>
      <app-card [card]="cards[3]" class="column"></app-card>
    </div>
    <div class="columns">
      <app-card [card]="cards[4]" class="column"></app-card>
      <app-card [card]="cards[5]" class="column"></app-card>
      <app-card [card]="cards[6]" class="column"></app-card>
      <app-card [card]="cards[7]" class="column"></app-card>
    </div>
    <div class="columns">
      <app-card [card]="cards[8]" class="column"></app-card>
      <app-card [card]="cards[9]" class="column"></app-card>
      <app-card [card]="cards[10]" class="column"></app-card>
      <app-card [card]="cards[11]" class="column"></app-card>
    </div>
  </div>
</div>
